<h1>Your Cannabiss Journal</h1>
<h2>Welcome to <%= @user.user_name.capitalize%>'s homepage! </h2>

<h3>Here are the Strains reviewed by <%=@user.user_name.capitalize%>:</h3>
<ul>
  <% @user.user_strains.each do |r|%>
  <li> <%= link_to r.name_and_grower, strain_path(r)%> </li>
  <% end %>
</ul>